.btn-success:hover {
    color: #000;
}
.btn-outline {
    background-color: transparent;
    color: #962135;
    transition: all .5s;
    border-style: solid;
    border-color: #962135;
}

.btn-outline:hover {
    color: #fff;
    background-color: #962135;
}

.fa {
    color: #962135;
}