body {
    font-family: helvetica, serif;
    font-size: 14px;
    overflow-x: hidden;
}

#cy {
    width: 101%;
    height: 96%;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    z-index: 999;
    padding: 0 !important;
    margin: 0;
}

h1 {
    opacity: 0.5;
    font-size: 1em;
}

b {

    color: #0c0c0c;

}

#desc{

    color: #0c0c0c;
    text-align: left;

}

#page-wrapper {
    padding: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.fa {
    color: #962135;
}