/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border-style: solid;
    border-color: #962135;
}

.btn-outline {
    color: #962135;
}

.btn-outline:hover {
    color: #fff;
    background-color: #962135;
}

.panel.panel-default.panel-heading {
    background-color: #962135;
}
.smart-advise{
    padding-top: 20px;
}
.smart-advise-heading {
    text-align: center;
}

.fa {
    color: #962135;
}